*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.d-center{
 margin-left: auto;
 margin-right: auto;
 
}
.border-radius{
  border-radius: 16px;
}
.primary-color{
  background-color: #5D576B;
  color: #F1DEDE;
}
.secondary-color{
  background-color: #6CD4FF;
  color: #F1DEDE;
}
.primary-border{
  border: solid 2px #5D576B;
  
  
}
.color{
  color: #5D576B;
}
.sticky{
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}
.btn-hover:hover{
  background-color: white;
  color: #5D576B;
  border-bottom: 5px solid #5D576B;
  
}
.hover-btn:hover{
  color: #5D576B;
  background-color: #F1DEDE;
 
}
.data input,.data-input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 100%;
  margin-bottom: 36px;
  
}
.data input:focus,.data-input:focus {
  outline: none;
  border-bottom-style: solid;
  border-bottom: 5px solid #5D576B;
}
ul{
  list-style: none;
}

.flexible-width{
  max-width: clamp(360px,80vw,767px);
  margin: auto;
 
}
.info input{
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}
.w3-modal{
  background-color: white;

}
.place-center{
  display: grid;
  place-items: center;
}
.my-form{
  width: 80vw;
}
.center-content{

  margin-left: auto;
  margin-right: auto;
  
}
.bg-img{
  background-image: url('bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}
.big-data{
  width: 90vw;
  background-color: white;
  padding:2vh 5vw 7.5vh 5vw;

}
.data{
  margin-top: 36px;
}
.add-post{
  width: 100%;
  margin-bottom: 36px;
}
textarea{
  resize: none;
}
.form-modal{
  display: none;
  position:absolute;
  width: 98vw;
  left:1vw;
  right:1vw;
  z-index: 1;
}
.form-modal form{
  padding: 12px;
  width: 100%;
}
.form-modal input{
  width: 100%;
}
.search-form{
  display: none;
}
@media screen and (min-width: 767px) {
  .big-data{
    width:40vw;
  }
  .search-form{
    display: block;
  }
 

}

.btn,.btn-2:hover{
  background-color: #5D576B;
  color: #F1DEDE;
  padding: 2px 12px;
  border-radius: 12px;
  
}
.btn-2,.btn-hover{
  border: solid 1px #5D576B;
  background-color: white;
  color: #5D576B;
  padding: 2px 12px;
}
.w3-modal{
  background-color: white;
}

.logs{
 text-align: center;
}






.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0;
  top: 24px;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 12px 16px;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #5D576B;
}
.padding-top{
  padding-top: 16px;
}
.sticky{
  background-color: white;
}
.rating{
  width: 100%;
}
.rating input, .rating button{
  width: 80%;
  margin: 0 8% 0 8% ;

}
th{
  background-color: #5D576B;
  color: white;
}
table tr:nth-child(odd){
  background-color: #F1DEDE;
  color: #5D576B;
}
