{% extends 'base.html' %}


{% block small %}

{% endblock %}
{% block content %}
<button onclick="history.back()"> Back</button>
<div class="w3-row">
<div class="w3-col s12 l6 m6">
<h2> {{project.title}} </h2>
<a  class= target="_blank" href="{{project.url}}"  >
<img class="w3-round w3-image" src="{{project.project_cover.url}}"> </a>
{% if form %}
<form style="width:100%" action="{% url 'details' project.id %}" method="post" class="rating">
  {% csrf_token %}
  <h3>
    Rate {{project.title}} here:
  </h3>
  {% for forms in form %}
 {{forms.label}}
 <br>
 {{forms}}
 <br>
 {% endfor %}
 <br>
 <button>
Rate
 </button>
</form>
{% else %}
{{message}}
{% endif %}
</div>


<div class="w3-col s12 l6 m6">
  <h2> Vote Distribution </h2>
  {% if votess %}
  <table class="w3-table">
    <tr>
      <th>#</th>
      <th>Voter</th>
      <th>Design</th>
      <th>Usability</th>
      <th>Content</th>
    </tr>
    {% for vote in votess  %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{vote.voter.user}}</td>
      <td>{{vote.design}}</td>
      <td>{{vote.usability}}</td>
      <td>{{vote.content}}</td>
    </tr>
    {% endfor %}


  </table>
  {% else %}
   <p>
     Vote Below
   </p>

  {% endif %}
</div>
</div>

{% endblock content %}